/* @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap'); */

.dashcontainer{
    font-family: 'BioRhyme', serif;
}
.dashcustominput{
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
    /* border: 1px solid green; */
    /* margin-left: 30%; */
}
.dashindiv{
    display: flex;
    padding: 0.7rem 0;
    /* border: 1px solid black; */
    margin-top: 0.2rem;
    /* margin-bottom: 3rem; */
}
.dashindiv-mob{
    display: none;
}
.titlediv{
    width: 100%;
    /* border: 1px solid green; */
}
.titlediv h1{
    margin-left: 6rem;
}
@media screen and (max-width:850px) {
    .dashcustominput{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .dashindiv{
        display: none;
    }
    .dashindiv-mob{
        display: flex;
    }
    .dashcustominput{
        width: 100%;
    }
    .titlediv h1{
        font-size: 20px;
    }
}


