.terms h1{
    text-align: center;
}

.abouthead h1{
    text-align: center;
    justify-content: center;
    }

.terms{
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: larger;
}
