  .accordion-container{
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
  }
  .accord-container{
    /* margin: 0 auto; */
    width: 80%;
    /* border: 1px solid red; */

  }
  .accord-wrapper{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    height: fit-content;
  }
  .accordion {
    max-width: 100%;
    margin: 1rem 0px;
  }
  
  .accordion-title {
    padding: 10px;
    border: 1px solid #5c2648;
    margin: 0.5rem;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.18) 2.4px 2.4px 3.2px;
    border: 2px solid #5c2648;
    transform: translateZ(0);
    transition: transform .30s ease-out;
  }
  .accordion-title:hover {
    /* background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46); */
    background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
    color: white;
    border: 2px solid white;
    transform: scale(1.04);
  }
  
  .accordion-content {
    background-color: white;
  }
  .description-text{
    /* border: 1px solid blue; */
    max-width: 100%;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }



  .course-wrapper {
  background: linear-gradient(-0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
  overflow: hidden;
  height: 100vh;
  /* background-color: white; */

}
.course-h1 {
    border-bottom: 1px solid black;

}
.course-outline {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}
.outline-videos {
    width: 40%;
    height: 80vh;
    overflow-x: hidden;
    scrollbar-width: 0px;
    padding: 10px;

}
.outline-videos::-webkit-scrollbar{
    display: none;
}

.outline-content {
    width: 40%;
    text-align: left;
    color: white;
}
.outline-content h1 {
    border-bottom: 10px dotted #2e2b48;
}