  .accordion-container{
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
  }
  .accord-container{
    /* margin: 0 auto; */
    width: 80%;
    /* border: 1px solid red; */

  }
  .accord-wrapper{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    height: fit-content;
  }
  .accordion {
    max-width: 100%;
    margin: 1rem 0px;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    background: #2e2b48;
    margin-bottom: 20px;
    background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
  }
  .accordion-title:hover {
    /* background: linear-gradient(70deg, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46, #cc1b4d, #bd1c4d); */
    /* background-color: white; */
    outline: 2px solid #bd1c4d;
    font-size: large;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: white;
  }
  .description-text{
    /* border: 1px solid blue; */
    max-width: 100%;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }