@media screen and (max-width:500px){
    /* .ham-index{
        z-index: 10;
    } */
    .res-inp{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        /* left: -5px; */
        cursor: pointer;
        opacity: 0;
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    .ham-span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #151D3B;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

    .ham-span:first-child{
        transform-origin: 0% 0%;
    }

    .ham-span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    .res-inp:checked ~ .ham-span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    .res-inp:checked ~ .ham-span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .res-inp:checked ~ .ham-span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
 
    .hamburger{
        /* display: none; */
        position: absolute;
        width: 200px;
        margin: -100px 0 0 -90px;
        padding: 50px;
        padding-top: 100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(0,-100%);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .hamburger li{
        padding: 10px 0;
        font-size: 15px;
    }

    .res-inp:checked ~ .hamburger{
        transform: none;
    }
}