
.policy h1{
    text-align: center;
    color: black;
    }

.policy{
    color: black;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: larger;
}
.policy ul{
    margin-left: 12rem;
}