.abouthead{

}
.abouthead h1{
    text-align: justify;
    justify-content: center;
    display: flex;
    padding: 20px;
    color: white;
    }

.policy{
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    /* margin-bottom: 10rem; */
    font-size: larger;
    /* font-family: 'Arial Narrow'; */
}
.policy ul{
    margin-left: 12rem;
}