.smallContl{
    top: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.col-2l{
    width: 65%;
    height: 100vh;
    /* background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46); */
    background: black;
    position: relative;
    /* background-image: url("../../assets/image2.jpg"); */
}
.absl .imgl{
    width: 12rem;
    height: 12rem;
    opacity: 1;
    margin: 0 auto;
}
.col-2l .absl{
    top: 30%;
    left: 3%;
    width: 100%;
    position: absolute;
    color: white;
}
.col-2l .absl h1{
    font-size: 2rem;
    text-align: center;
}
.smallContl img {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    object-fit: cover;
    display: block;
    opacity: 0.15;
}
.coll {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.coll > *{
    margin-top: 14px;
}
.coll p:hover{
    opacity: 0.3;
    cursor: pointer;
    transition: ease-in .5s;
}
.forml{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
    border: 1px solid black;
    padding: 10px 30 0;
}
.form p{
    font-size: 1.2rem;
}
.bottoml{
    color: white;
    width: 85%;
    margin: 0px 0 0;   
    font-size: 1.9rem;
}

.bottoml span{
    color: blue;
    transition: ease-in .5s;
}
.bottoml span:hover{
    opacity: 0.3;
    cursor: pointer;
}