/* @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap'); */

.dashcontainer{
    font-family: 'BioRhyme', serif;
}
.deskdash{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #f9f9f9;
    color: #151D3B;
    padding: 6px;
    /* border: 1px solid #151D3B; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.dashnav-mob{
    display: none;
}

.dashnav{
    /* display: flex;
    justify-content: space-around; */
    align-items: center;
}
.dashcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.dashcontent li{
    cursor: pointer;
    padding: .9rem .9rem .1rem;
}
.dashcontent li:hover{
    border-bottom: 2px solid red;
}
.dashnav{
      align-items: center;
}
.usericons{
    display: flex;
    gap: 10px;
    /* border: 1px solid yellow; */
    padding: .3rem .6rem .6rem .6rem;
}
.dash-prof{
    display: flex;
    /* border: 1px solid blue; */
}
.dashlog{
    display: none;
    position: absolute;
    color: #D82148;
    margin-top: 15px;
}
.dashlog h4{
    color: #D82148;
}
.dashlog:hover{
    display: block;
}
.dasharrow:hover + .dashlog{
    display: block;
}
/* .droplogout1{
    display: none;
    position: absolute;
    z-index: 1;
    color: #D82148;
    margin-top: 1.5%;
}
.droplogout1 h4{
    color: #D82148;
}
.arrowhov1:hover + .droplogout1{
    display: block;
    margin-top: 1%;
    color: #D82148;
}
.droplogout1:hover {
    display: block;
    color: #D82148;
} */

@media screen and (max-width:850px) {
    .dashnav-bar{
        width: 80%;
        padding: 1px;
        font-size: 12px;
    }
    .usericons{
        margin-right: 0.8rem;
        padding: .1rem .3rem .3rem .3rem;
    }
    .dashcontent{
        display: flex;
        justify-content:left;
        /* align-items: center; */
        list-style: none;
    }
    .dashcontent li{
        padding: .3rem .3rem .1rem;
    }
}
@media screen and (max-width:500px){
    .dashnav-mob{
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    .usericons img, .dashnav, .dash-prof{
        display: none;
    }
    .usericons h3{
        display: none;
    }

}


