.smallContc{
    top: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.col-2c{
    width: 65%;
    height: 100vh;
    /* background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46); */
    background: black;
    position: relative;
    /* background-image: url("../../assets/image2.jpg"); */
}
.absc .imgc{
    width: 10rem;
    height: 10rem;
    opacity: 1;
}
.col-2c .absc{
    top: 30%;
    left: 3%;
    width: 100%;
    position: absolute;
    color: white;
}
.col-2c .absc h1{
    font-size: 2rem;
    text-align: center;
}
.smallContc img {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    object-fit: cover;
    display: block;
    position: relative;
    opacity: 0.15;
}
.colc {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid white;
}
.colc h2{
    text-align: center;
}
.colc > *{
    margin-top: 10px;
}
.colc > span{
    border: 1px solid white;
    min-height: 8%;
    padding: 15px;
    color: black;
    font-size: 0.7rem;
    background: white;
}

.colc p:hover{
    opacity: 0.3;
    cursor: pointer;
    transition: ease-in .5s;
}
.formc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background: linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46);
    padding: 10px 30 0;
}
.formc p{
    font-size: 1rem;
    color: white;
}
.bottomc{
    color: white;
    width: 85%;
    margin: 0px 0 0;   
    font-size: 1.3rem;
}

.bottomc span{
    color: blue;
    transition: ease-in .5s;
}
.bottomc span:hover{
    opacity: 0.3;
    cursor: pointer;
}
.flexc{
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
    width: 43%;
    margin: 0 auto;
    margin-top: 3%;
}
.flexc p{
    margin: 10% 0% 0;
    font-size: 3.4rem;
}
.groupc{
    display: flex;
    margin-top: -2.2%;
}